@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

.app-content {
  font-family: "Lato", sans-serif;
  margin: 100px 12.5% 120px 12.5%;
  text-align: center;
}
.app-header {
  align-self: center;
}
.app-title {
  font-weight: 700;
  font-size: 34;
}
.flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.name {
  font-weight: 700;
  padding: 0px;
  font-size: 18px;
  text-align: left;
}
.spec {
  font-weight: 300;
  padding: 0px;
  font-size: 18px;
  text-align: left;
}
.box {
  position: relative;
}

.bg {
  font-size: 0;
  position: absolute;
  top: 120px;
  left: 85px;
  color: rgb(114, 40, 40);
}
.app-foto:hover .bg:hover {
  font-size: 30px;
}
